<div class="border-bottom bg-white">
    <form class="py-4 container">
        <div class="input-group input-group-lg">
            <input type="text" @bind="@Text" class="form-control" placeholder="Add Machine" autofocus>
            <div class="input-group-append">
                <button @onclick="OnAdd" @onclick:preventDefault="true" id="addItemBtn" class="btn btn-info">ADD</button>
            </div>
        </div>
    </form>
</div>



@code {

    public string Text { get; set;}

    [Parameter]
    public EventCallback<string> Add { get; set; } // Event <=> Delegate from Parent component "Overview"/parent should be getting the Machine. 

    public async Task OnAdd()
    {
        if(Add.HasDelegate) //EventCallback class.
        {
            await Add.InvokeAsync(Text);
        }
        Text = default;
    }


}
