<h3>AuthorsOverview</h3>

@code {
    //[Inject]
    //public HttpClient HttpClient { get; set; }

    //public List<AuthorDto> AuthorDtos;

    //protected override async Task OnInitializedAsync()
    //{
    //    AuthorDtos = await HttpClient.GetFromJsonAsync<AuthorDto>("api/authors/");
    //    }



}

